body {
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

p {
  color:#8f8f8f;
}

/****** Headings ******/
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  margin: 5% 3% 5% 0;
}

.medium-heading {
  font-weight: 600;
}

/* ******************* */


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  /* font-weight:900; */
  font-weight: bold;
  font-size: 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

#title {
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding:  3% 15% 7%;
}

/***** Images ******/
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  margin-top: 20px;
  overflow: hidden;
  position: absolute;
  right:30%;
}

.title-image img {
  width: 100%;
}

/* ************************ */

/* Section 2: Features */



.features {
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding:5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* ************************ */

/* Testimonials */

#testimonials {
  background-color:#ef8172;
  color:#fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding:7% 15%;
}

.testimonial-text {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 3% 20%;
}

/* ************************ */

/********* Press **********/
#press{
  background-color:#ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* PRICING */
#pricing {
  padding: 100px;
}

.pricing-column {
  3% 2%
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
}

/****** Footer ******/

footer {
  padding:2% 0;
}

.footer-icon {
  padding: 0.5%;
}
















/* Media Queries */
@media (max-width: 1028px) {
  .title {
    text-align: center;
    font-size: 1.5rem;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}
